/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}

.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
}

#menu-bar{
	background: none;
	border-bottom: none;
}

#visible-bar a{
	color: white;

}

#visible-bar a:hover{
	background-color: rgba(111,173,43,0.5);
	font-weight: bold;
}

.first-box{
	color: white;
	padding-top: 200px;
	font-weight: bold;
}

#more1, #more2{
	background-color: #41521F;
	color: white;
	font-weight: bold;
	border:none;
}

.titles-second{
	color: #A89F68;
	font-weight: bold;
}

#second-box a{
	color: #A89F68;
}

.second-box{
	padding-top: 150px;
}

#second-box{
	padding: 100px;
	
}

.titles-third{
	color: #41521F;
	font-weight: bold;
}

.third-box, .fifth-section{
	padding: 90px 0;
}


#koala3{
	border: 10px solid white;
}

.third-section{
	background-color: #A89F68;
	color: white;
}

.fourth-section{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
}

#fourth-box{
	color: white;
	font-weight: bolder;
	padding-top: 90px;
}
i{
	color: #A89F68;
}

.title-fifth{
	padding-bottom: 30px;
	color: #A89F68;
	font-weight: bolder;
}

.title-sixth{
	padding-bottom: 30px;
	color: #41521F;
	font-weight: bolder;
}

.sixth-section{
	background-color: #A89F68;
}